@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

/* CSS resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove all button styles */
button {
  all: unset;
  cursor: pointer;
}

:root {
  /* Primary Colors */
  --cyan-600: rgb(77, 150, 168);
  --purple-600: rgb(133, 95, 177);

  /* Secondary */
  --cyan-300: rgb(143, 227, 249);
  --purple-300: rgb(217, 184, 255);

  /* Neutral */
  --black: rgb(40, 40, 61);
  --gray: rgb(135, 135, 157);
  --light-gray: rgb(209, 209, 223);
  --white: rgb(250, 250, 250);
}

body {
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
  min-height: 100vh;
  background-color: var(--white);
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px 0 64px 0;
}

/* Hero Scetion */

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  margin: 48px 32px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero-title {
  font-size: clamp(2.5rem, 2.5vw + 1rem, 4rem);
  font-weight: 900;
  line-height: 110%;
}

.hero-body {
  font-size: clamp(1rem, 1vw + 0.5rem, 1.125rem);
  font-weight: 500;
  line-height: 150%;
  color: var(--gray);
}

.btn {
  padding: 16px 40px;
  color: var(--white);
  font-size: 1rem;
  font-weight: 900;
  line-height: 150%;
  border-radius: 29px;
}

.btn-cyan {
  background-color: var(--cyan-600);
  margin-bottom: 16px;
}

.light-cyan {
  color: var(--cyan-300);
}

.btn-purple {
  background-color: var(--purple-600);
}

/* Divider */
.divider {
  margin: 64px 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-bar {
  margin: 0 auto;
  content: "";
  width: 0.0625rem;
  height: 5.25rem;
  background-color: var(--light-gray);
}

.divider-circle {
  font-size: 1rem;
  font-weight: 900;
  line-height: 150%;
  color: var(--gray);
  background-color: var(--white);
  border: 0.0938rem solid var(--light-gray);
  border-radius: 6.25rem;
  margin: 0 auto;
  width: 3.5rem;
  height: 3.5rem;
}

/* Photo Gallery */
.photo-gallery-wrapper {
  padding: 0 32px;
  margin-bottom: 64px;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.gallery-container {
  border-radius: 8px;
  overflow: hidden;
}

/* Description Section */
.description-section {
  max-width: 32.5rem;
  padding: 0 32px;
  margin: 0 auto;
}

.des-title {
  margin: 16px 0 32px;
  font-size: clamp(2rem, 2.2vw + 1rem, 2.5rem);
  font-weight: 900;
  line-height: 110%;
  color: var(--black);
}

.des-sub-title {
  color: var(--cyan-600);
  font-size: 0.75rem;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 4px;
}

.des-body {
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray);
  line-height: 150%;
}
