@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

/* CSS resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove all button styles */
button {
  all: unset;
  cursor: pointer;
}

:root {
  /* Primary Colors */
  --cyan-600: rgb(77, 150, 168);
  --purple-600: rgb(133, 95, 177);

  /* Secondary */
  --cyan-300: rgb(143, 227, 249);
  --purple-300: rgb(217, 184, 255);

  /* Hover colors */
  --purple-400: rgb(175, 140, 216);
  --cyan-400: rgb(110, 189, 209);

  /* Neutral */
  --black: rgb(40, 40, 61);
  --gray: rgb(135, 135, 157);
  --light-gray: rgb(209, 209, 223);
  --white: rgb(250, 250, 250);
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  text-align: center;
  min-height: 100vh;
  background-color: var(--white);
}

/* Header */
header {
  margin: 5rem 0 4rem 0;
}

.meet-logo:hover {
  filter: saturate(3);
}

/* Hero Scetion */
.hero-wrapper {
  flex-direction: column;
  gap: 1.7rem;
}

/* Mobile first */

.hero-img-mobile {
  margin-bottom: 4.375rem;
}

.hero-img-right,
.hero-img-left {
  display: none;
}

.hero-img-left,
.hero-img-right,
.meet-logo {
  animation: slideIn 0.8s ease-out;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 110%;
  color: var(--black);
}

.gradient-text {
  background: linear-gradient(92.19deg, #855fb1 -15.84%, #4d96a9 114.64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero-body {
  font-weight: 500;
  line-height: 144%;
  color: var(--gray);
  margin: 2rem 1.25rem;
  max-width: 26rem;
}

.hero-btn {
  flex-direction: column;
  gap: 1.125rem;
}

/* Button styles */

.btn {
  padding: 1rem 2.5rem;
  color: var(--white);
  font-weight: 900;
  line-height: 150%;
  border-radius: 29px;
  opacity: 0.9;
}

.btn-cyan {
  background-color: var(--cyan-600);
}

.btn-purple {
  background-color: var(--purple-600);
}

/* Button Hover */

.btn-cyan:hover {
  background-color: var(--cyan-400);
}

.btn-purple:hover {
  background-color: var(--purple-400);
}

/* Span colors */

.light-cyan {
  color: var(--cyan-300);
}

.light-purple {
  color: var(--purple-300);
}

/* Divider */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  padding: 4rem 0;
}

.divider-two {
  padding-top: 4.375rem;
}

.number-one,
.number-two {
  font-weight: 900;
  line-height: 150%;
  color: var(--gray);
  background-color: var(--white);
  border: 0.0938rem solid var(--light-gray);
  border-radius: 6.25rem;
  margin: 0 auto;
  width: 3.5rem;
  height: 3.5rem;
}

.divider-bar {
  margin: 0 auto;
  content: "";
  width: 0.0625rem;
  height: 5.25rem;
  background-color: var(--light-gray);
}

/* Photo Gallery */
.photo-gallery-wrapper {
  padding: 0 2rem;
}
.gallery-grid {
  margin: 0 auto 4rem;
  max-width: 68.75rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.gallery-container {
  border-radius: 8px;
  overflow: hidden;
}

.gallery-grid img {
  overflow: hidden;
  border-radius: 0.5rem;
  transition: ease-out 0.5s;
}

.gallery-grid img:hover {
  transition: linear 0.5s;
  transform: scale(1.05) translateX(0.1875rem);
  filter: saturate(2);
}

.gallery-grid {
  transition: linear 0.5s;
}

.gallery-grid:hover > .gallery-container:not(:hover) {
  filter: grayscale(0.6);
  opacity: 0.8;
  transition: linear 0.5s;
}

/* Description Section */
.description-section {
  max-width: 35rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.description-title {
  margin: 1rem 0 2rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 110%;
  color: var(--black);
}

.description-sub-title {
  color: var(--cyan-600);
  font-size: 0.75rem;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 4px;
}

.description-body {
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray);
  line-height: 150%;
}

/* Footer section */
.footer-wrapper {
  background-color: var(--cyan-600);
  position: relative;
  z-index: 1;
  height: 23.375rem;
  margin-top: -1.75rem;
  color: var(--white);
}

.number-two {
  position: relative;
  z-index: 2;
}

.footer-wrapper::before {
  content: "";
  background-image: url(../assets/mobile/image-footer.jpg);
  background-size: cover;
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  opacity: 0.2;
  z-index: -5;
}

.footer-container {
  flex-direction: column;
  gap: 2.5rem;
  max-width: 35rem;
}

.footer-title {
  font-size: 2rem;
}

.footer-text {
  padding: 0 2rem;
  line-height: 150%;
}

@media (min-width: 28.125rem) {
  .footer-wrapper {
    height: 21.6875rem;
  }

  .footer-wrapper::before {
    background-image: url(../assets/tablet/image-footer.jpg);
  }
}

@media (min-width: 48rem) {
  .hero-title {
    font-size: 3rem;
  }

  .hero-btn {
    flex-direction: row;
  }

  .divider {
    padding-top: 7.5rem;
  }

  .gallery-grid {
    gap: 24px;
    padding: 0 32px;
  }

  .description-title,
  .footer-title {
    font-size: 2.25rem;
  }

  .description-sub-title {
    font-size: 0.875rem;
  }

  .footer-wrapper {
    height: 20rem;
  }
}

@media (min-width: 64rem) {
  .hero-title {
    font-size: 4rem;
  }

  .hero-body {
    max-width: 32.5rem;
  }

  .photo-gallery-wrapper,
  .footer-text {
    padding: 0;
  }

  .gallery-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-wrapper {
    height: 20rem;
  }

  .footer-title {
    font-size: 2.5rem;
  }

  .hero-body,
  .footer-text {
    font-size: 1.125rem;
  }
}

@media (min-width: 79.375rem) {
  .hero-wrapper {
    flex-direction: row;
    gap: 1.7rem;
  }

  .hero-img-right,
  .hero-img-left {
    display: flex;
  }

  .hero-img-left {
    content: url(./assets/desktop/image-hero-left.png);
    margin-bottom: 3rem;
  }

  .hero-img-right {
    content: url(./assets/desktop/image-hero-right.png);
    margin-bottom: -3rem;
  }

  .hero-img-mobile {
    display: none;
  }

  .footer-wrapper {
    height: 19.5rem;
  }

  .footer-container {
    max-width: 68.75rem;
    flex-direction: row;
    gap: 6rem;
    text-align: left;
  }

  .footer-text,
  .footer-title {
    max-width: 21.875rem;
  }
}

/* intro animation */

@-webkit-keyframes slideIn {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
